.inputt {
  flex-shrink: 1;
  appearance: none;
  height: 3rem /* 48px */;
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  font-size: 0.875rem /* 14px */;
  font-size: 1rem /* 16px */;
  line-height: 1.25rem /* 20px */;
  line-height: 2;
  line-height: 1.5rem /* 24px */;
  border-radius: var(--rounded-btn, 0.5rem /* 8px */);
  border-width: 1px;
  border-color: white;
  color: white;
  --tw-bg-opacity: 1;
  background-color: transparent;
  transition: border-color 0.3s ease;
}
.custom-btn2 {
  padding: 10px 50px;
  border-radius: 8px;
  background-color: #f70566;

  transition: background-color 0.3s ease;
  color: whitesmoke;
  font-weight: bold;
}
.custom-btn2:hover {
  background-color: #f7057a;
  cursor: pointer;
}

.calender {
  padding: 0px 24px !important;
  width: 100%;
  cursor: pointer;
}

.inputt[type="number"]::-webkit-inner-spin-button,
.inputt-md[type="number"]::-webkit-inner-spin-button {
  margin-top: -1rem /* -16px */;
  margin-bottom: -1rem /* -16px */;
  margin-inline-end: -1rem /* -16px */;
}
.inputt input {
  --tw-bg-opacity: 1;
  background-color: var(--fallback-p, oklch(var(--p) / var(--tw-bg-opacity)));
  background-color: transparent;
}
.inputt input:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.inputt[list]::-webkit-calendar-picker-indicator {
  line-height: 1em;
}
.inputt:focus,
.inputt:focus-within {
  box-shadow: none;
  border-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 2px;
  outline-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}
.inputt:focus,
.inputt:focus-within {
  box-shadow: none;
  border-color: var(--primary-color);
  outline: none;
}
.inputt:has(> input[disabled]),
.inputt-disabled,
.inputt:disabled,
.inputt[disabled] {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
  color: var(--fallback-bc, oklch(var(--bc) / 0.4));
}
.inputt:has(> input[disabled]),
.inputt-disabled,
.inputt:disabled,
.inputt[disabled] {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
  color: var(--fallback-bc, oklch(var(--bc) / 0.4));
}
.inputt:has(> input[disabled]),
.inputt-disabled,
.inputt:disabled,
.inputt[disabled] {
  cursor: not-allowed;
  --tw-border-opacity: 1;
  border-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-border-opacity)));
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
  color: var(--fallback-bc, oklch(var(--bc) / 0.4));
}
.inputt:has(> input[disabled])::placeholder,
.inputt-disabled::placeholder,
.inputt:disabled::placeholder,
.inputt[disabled]::placeholder {
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-placeholder-opacity)));
  --tw-placeholder-opacity: 0.2;
}
.inputt:has(> input[disabled])::placeholder,
.inputt-disabled::placeholder,
.inputt:disabled::placeholder,
.inputt[disabled]::placeholder {
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-placeholder-opacity)));
  --tw-placeholder-opacity: 0.2;
}
.inputt:has(> input[disabled])::placeholder,
.inputt-disabled::placeholder,
.inputt:disabled::placeholder,
.inputt[disabled]::placeholder {
  color: var(--fallback-bc, oklch(var(--bc) / var(--tw-placeholder-opacity)));
  --tw-placeholder-opacity: 0.2;
}
.inputt:has(> input[disabled]) > input[disabled] {
  cursor: not-allowed;
}
.inputt::-webkit-date-and-time-value {
  text-align: inherit;
}
.mockup-browser .mockup-browser-toolbar .inputt {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 1.75rem /* 28px */;
  width: 24rem /* 384px */;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  --tw-bg-opacity: 1;
  background-color: var(--fallback-b2, oklch(var(--b2) / var(--tw-bg-opacity)));
  padding-left: 2rem /* 32px */;
  direction: ltr;
}
.mockup-browser .mockup-browser-toolbar .inputt:before {
  content: "";
  position: absolute;
  left: 0.5rem /* 8px */;
  top: 50%;
  aspect-ratio: 1 / 1;
  height: 0.75rem /* 12px */;
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  border-width: 2px;
  border-color: currentColor;
  opacity: 0.6;
}
.mockup-browser .mockup-browser-toolbar .inputt:after {
  content: "";
  position: absolute;
  left: 1.25rem /* 20px */;
  top: 50%;
  height: 0.5rem /* 8px */;
  --tw-translate-y: 25%;
  --tw-rotate: -45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y))
    rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
    scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  border-radius: 9999px;
  border-width: 1px;
  border-color: currentColor;
  opacity: 0.6;
}
